# Producer ENV
API_APP_ID="APP_ID"
CHNNEL_ID="CHANNEL_ID"

# jobWorker's ENV
MODEL_ID="gpt-3.5-turbo"
BOT_NAME="Friday"

# TOKEN
SLACK_TOKEN="YOUR_SLACK_TOKEN"
OPENAI_KEY="YOUR_OPENAI_TOKEN"

# Lambda Layer ARN
LAYER_SLACK="arn:aws:lambda:REGION:ACCOUNT_ID:layer:LAYER_NAME:VERSION"
LAYER_OPENAI="arn:aws:lambda:REGION:ACCOUNT_ID:layer:LAYER_NAME:VERSION"